*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5dc;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 41.09rem;

}
div .image{
    background-image: url(1.png);
    position: relative;
    background-size: cover;
    grid-row: 10rem;
    background-color: #f5f5dc;
}
p{
    color: #f5f5dc;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding-top: 32.5rem;
    padding-left: 2rem;
    text-shadow: 2px 2px 20px #000000;
    position: absolute;

}
div.fillingarea{
    background-color: #f5f5dc;
    padding-top: 4.3rem;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    margin-bottom: 15px;
    max-width: 22.3rem;
    font-family: 'Inter', sans-serif ;
    font-weight: 0.1;
  }

  .form-group label {
    display: block;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group a {
    padding: 10px 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .form-group button:hover {
    background-color: #45a049;
  }
  h2{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family:'Inter', sans-serif;
    color: #004902;
  }
  #profession{
    font-family: 'Inter', sans-serif ;
  }
  .yo{
    padding-bottom: 0.4rem;
  }

  @media (max-width: 790px) {
    .grid{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 30% 110%;
    }
    div.fillingarea{
      background-color: #f5f5dc;
      padding-top: 3rem;
      max-height: 35rem;
    }
    div .image{
      background-image: url(hello.jpg);
      background-size: cover;
      grid-row: 10rem;
      background-color: #f5f5dc;
      position: relative;
    }
    .container {
        max-width: 300px;
        margin: 0 auto;
        padding-left: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
      }
    
      .form-group {
        margin-bottom: 15px;
        max-width: 15.3rem;
        font-family: 'Inter', sans-serif ;
        font-weight: 0.1;
      }
    
      .form-group label {
        display: block;
        font-weight: 300;
        margin-bottom: 5px;
      }
    
      .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    
      .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    
      .form-group a {
        padding: 10px 40px;
        background-color: #4CAF50;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        font-size: 0.9rem;
      }
      p{
        position: absolute;
        padding-top: 1rem;
        font-size: 1.45em;
        padding-left: 13rem;
      }
  }