<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="blogpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Inter:wght@300&family=Montserrat&family=Nunito+Sans:wght@300;700&family=Poppins:wght@600;700&family=Raleway:wght@300;500&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <title>Get Awared | Envision</title>
</head>
<body>
    <div>
        <div class="blogpage">
            <p>
                Get Awared
            <br>
                <p id="decs">
                    Know how you can care for environment!
                </p>
            </p>
        </div>
        <section>
            <div class="blog1">
                <div class="image1">
                </div>
                <div class="content">
                    <h1>
                        Transform Your Living Space with Pure Air
                    </h1>
                    <br>
                    <p>
                        In today's hassle of air pollution make your living environment
                        pollution free.
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="blog1">
                <div class="image2">
                </div>
                <div class="content">
                    <h1>
                        Nurturing Our Feathered Friends
                    </h1>
                    <br>
                    <p>
                        Alongside with our kids taking care for the Little Flyers in Our
                        Environment
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="blog1">
                <div class="image3">
                </div>
                <div class="content">
                    <h1>
                        Are you disposing leftover meals?
                    </h1>
                    <br>
                    <p>
                        The moment you disposing the meal , one is still hungry!
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="blog1">
                <div class="image4">
                </div>
                <div class="content">
                    <h1>
                        Throwing your oversized or tight clothes?
                    </h1>
                    <br>
                    <p>
                        It's a garbage for you , but a treasure for other!
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
        </section>
        <section class="last">
            <div class="blog2">
                <div class="image5">
                </div>
                <div class="content">
                    <h1>
                        Does Electricity only cost money?
                    </h1>
                    <br>
                    <p>
                        While you forgot to turn off the fan , one village remained dark!
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="blog2">
                <div class="image6">
                </div>
                <div class="content">
                    <h1>
                        Discarding plastics bags and bottles?
                    </h1>
                    <br>
                    <p>
                        The most hazardious gift you can give to environmnet , PLASTIC !
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="blog2">
                <div class="lastblog">
                    <div class="image1">
                    </div>
                    <div class="content">
                        <h1>
                            Transform Your Living Space with Pure Air
                        </h1>
                        <br>
                        <p>
                            In today's hassle of air pollution make your living environment
                            pollution free.
                        </p>
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
            <div class="blog2">
                <div class="lastblog">
                    <div class="image1">
                    </div>
                    <div class="content">
                        <h1>
                            Transform Your Living Space with Pure Air
                        </h1>
                        <br>
                        <p>
                            In today's hassle of air pollution make your living environment
                            pollution free.
                        </p>
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>