<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signupcss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat&family=Nunito+Sans:wght@300;700&family=Poppins:wght@600;700&family=Space+Grotesk:wght@700&family=Archivo:wght@700&display=swap" rel="stylesheet">
    <title>Start Contributing | Sign Up</title>
</head>
<body>
    <div class="grid">
        <div class="image">
            <p class="quote">
                Our Future is 
            <br>   
                in Your Hands.
            </p>
        </div>
        <div class="fillingarea">
            <div class="container">
                <h2>Contact</h2>
                <form action="#" method="POST">
                  <div class="form-group">
                    <label for="Phone Number">Phone Number:</label>
                    <input type="text" id="Phone Number" name="Phone Number">
                  </div>
                  <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" id="Email" name="Email" required>
                  </div>
                  <div class="form-group">
                    <label for="state">Set your Password:</label>
                    <input type="password" id="password" name="password" required>
                  </div>
                  <div class="form-group">
                    <label for="city">Your Availability to Volunteer?:</label>
                    <select id="contact" name="contact" required>
                        <option value="Once a week">Once a week</option>
                        <option value="Several times a week">Several times a week</option>
                        <option value="Once a month">Once a month</option>
                        <option value="Several times a month">Several times a month</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <div class="yo">
                        <label for="profession">How to contact?</label>
                        <select id="contact1" name="contact1" required>
                        <option value="Email">Email</option>
                        <option value="Phone Number">Phone Number</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="yo">
                        <a href="">Submit</a>
                    </div>
                  </div>
                </form>
              </div>
        </div>
    </div>
</body>
</html>
